<table class="table">
  <tr>
    <th>Proveedor</th>
    <th>Usuario</th>
    <th>Institucion</th>
    <th>Propuesta</th>
    <th>Antecedentes</th>
    <th>Conocimiento</th>
  </tr>
  <tbody>
    <% call.evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.proposal.proveedor %>                 </td>
        <td><%= evaluation.user.name if evaluation.user %>       </td>
        <td><%= evaluation.user.institucion if evaluation.user %></td>
        <td><%= evaluation.evaluatable.propuesta   %>            </td>
        <td><%= evaluation.evaluatable.antecedentes  %>          </td>
        <td><%= evaluation.evaluatable.conocimiento  %>          </td>
      </tr>
    <% end %>
</tbody>
</table>