<div class="col-lg-4">
<%= form_for(@call) do |f| %>
<% if @call.errors.any? %>
<section id="errors">
  <header>
    <h2>
      <%= @call.class.name.humanize.downcase %> no se pudo salvar. 
    </h2>
    <h3>
      Corrija <%= pluralize(@call.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @call.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>
  <p>
    <%= f.label :nombre %><br/>
    <%= f.text_field :nombre, class: 'form-control' %>
  </p>
    <p>
    <%= f.label :centro %><br/>
     <%= f.select :centro, Call::CENTROS, {}, class: 'form-control' %>
  </p>
   <p>
    <%= f.label :modalidad %><br/>
    <%= f.select :modalidad, Call::MODALIDADES, {}, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :publico %><br/>
    <%= f.select :publico, Call::PUBLICOS, {}, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit "Actualizar Llamado", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", @call, class: 'btn btn-primary' %>
  </p>
<% end %>
</div>