<h3> Crear nuevo llamado</h3>
<% if @call.errors.any? %>
<section id="errors">
  <header>
    <h2>
      <%= @call.class.name.humanize.downcase %> no se pudo salvar. 
    </h2>
    <h3>
      Corrija <%= pluralize(@call.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @call.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>
<%= form_for(@call) do |f| %>
  <p>
    <%= f.label :nombre %><br/>
    <%= f.text_field :nombre, autofocus: true %>
  </p>
  <p>
    <%= f.label :centro %><br/>
    <%= f.select :centro, Call::CENTROS, class: 'form-control' %>
  </p>
  <p>

  <p>
    <%= f.submit "Crear Llamado" %> |
    <%= link_to "Cancelar", calls_path %>
  </p>
<% end %>
