<div class="container">
  <div class="row">
  <div class="col-lg-4">
  <h3>Llamado</h3>
  <%= form_for(@call) do |f| %>
  <p>
    <%= f.label :nombre %><br/>
    <%= f.text_field :nombre, class: 'form-control', autofocus: true, readonly: true %>
  </p>
  <p>
    <%= f.label :centro %><br/>
    <%= f.select :centro, Call::CENTROS, {}, class: 'form-control', readonly: true %>
  </p>
  <p>
    <%= f.label :modalidad %><br/>
    <%= f.select :modalidad, Call::MODALIDADES, {}, class: 'form-control', readonly: true %>
  </p>
  <p>
    <%= f.label :publico %><br/>
    <%= f.select :publico, Call::PUBLICOS, {}, class: 'form-control', readonly: true %>
  </p>
  <p>

  <p>
    <%= link_to "Editar Llamado", edit_call_path(@call), class: 'btn btn-primary' %> <br/>
  </p>
  <p>
    <%= link_to "Agregar Propuesta", new_call_proposal_path(@call), class: 'btn btn-primary' %> <br/>
  </p>
  <p>
    <%= link_to "Ver Propuestas", call_proposals_path(@call), class: 'btn btn-primary' %> <br/>
  </p>
    
    
  </p>
  <% end %>
  </div>

  <div class="col-lg-4">
      <div class="row">
        <h3>Evaluaciones</h3>
        <div class="column">
        <table class="table">
        <tr>
          <th>Proveedor</th>
          <th>Usuario</th>
          <th>Institucion</th>
          <th>Propuesta</th>
          <th>Antecedentes</th>
          <th>Conocimiento</th>
        </tr>
        <tbody>
          <% @call.evaluations.each do |evaluation| %>
          <tr>
            <td>
              <%= evaluation.proposal.proveedor %>
            </td>
            <td>
              <%= evaluation.user.name if evaluation.user %>
            </td>
             <td>
              <%= evaluation.user.institucion if evaluation.user %>
            </td>
            <td>
              <%= evaluation.evaluatable.propuesta   %>
            </td>
             <td>
              <%= evaluation.evaluatable.antecedentes  %>
            </td>
            <td>
              <%= evaluation.evaluatable.conocimiento  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


